
body {
    font-size: 18px;
}

h1, h5 {
    text-align: center;
    margin: 0;
}

#inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

#codePrefixBtnDiv, #priceBtnDiv {
    display: flex;
    flex-wrap: wrap; /* 超過寬度時換行 */;
    align-items: center;
}

.codePrefixBtn, .priceBtn {
    margin: 5px;
}

#submitBtn {
    display: block;
    margin: 20px auto; /* 置中 */
    padding: 15px 30px; /* 大小 */
    font-size: 18px; /* 字體大小 */
    background-color: #007bff; /* 背景色 */
    color: white; /* 字體顏色 */
    border: none;
    border-radius: 5px; /* 圓角 */
    cursor: pointer;
}
#submitBtn:hover {
    background-color: #0056b3; /* 滑鼠懸停顏色 */
}

#output {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

#checkout_date {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}
