#camera {
    width: 100%;
    max-width: 600px;
    height: 400px; /* 確保相機畫面有明確高度 */
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

#start_camera {
    display: block;
    margin: 20px auto; /* 置中 */
    padding: 15px 30px; /* 大小 */
    font-size: 14px; /* 字體大小 */
    background-color: #007bff; /* 背景色 */
    color: white; /* 字體顏色 */
    border: none;
    border-radius: 5px; /* 圓角 */
    cursor: pointer;
}
#start_camera:hover {
    background-color: #0056b3; /* 滑鼠懸停顏色 */
}
#start_camera.active {
    display: block;
    margin: 20px auto; /* 置中 */
    padding: 15px 30px; /* 大小 */
    font-size: 14px; /* 字體大小 */
    background-color: #e6381e; /* 背景色 */
    color: white; /* 字體顏色 */
    border: none;
    border-radius: 5px; /* 圓角 */
    cursor: pointer;
}
#start_camera.active:hover {
    background-color: #d33017; /* 滑鼠懸停顏色 */
}

#keep_activated {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
#keep_activated_text {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

#error_message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    display: none;
}

#output {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

#checkout_date {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}
